/* admin.css */
body {
   background-image: url("music.logo.jpg");
    color: #ffcd31; /* Golden text color for contrast */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

a {
    display: inline-block;
    background-color: #62856d; /* Greenish background for links */
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 5px;
}

