/* welcome.css */
body {
    background:linear-gradient(to left,pink,red,orange); /* Dark grey background */
    color: #ffcd31; /* Golden text color for contrast */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
	text-align: center;
    max-width: 700px;
    height:540px;
    width:400px;
    border-color:green;
    border-style:ridge;
    padding:15px;
    margin-right:400px;
    margin-left:500px;
    margin-top:50px;
    background-color: Olive; /* Slightly lighter grey for the container */
    color: red; /* Orange text color */
}

a, input[type=submit] {
    background-color: rgb(0, 64, 0); /* Greenish background for buttons and links */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

a:hover, input[type=submit]:hover {
    background-color: #ff7e26; /* Orange background on hover */
}
label {
    margin-top: 10px;
}
input[type=email], input[type=password], input[type=user], input[type=text], textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #62856d; /* Greenish border */
}
