<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/view.css}" rel="stylesheet">
</head>
<body>
<center>
<h1>View PlatList</h1>
<table border="6" height="500px" width="600">
	<thead>
	<tr>
		<th>Playlist ID</th>
		<th>Playlist Name</th>
		<th>Playlist Song</th>
	</tr>
	</thead>
	<tbody>
		<tr th:each="pl:${playlist}">
		<td th:text="${pl.id}"></td>
		<td th:text="${pl.name}"></td>
		<td >
		<ul>
		<li th:each="s : ${pl.song}">
		<audio controls>
		<source th:src="${s.link}" type="audio/mpeg">
		</audio>
		</li>
		</ul>
		</td>
		</tr>
	</tbody>
</table>
</center>
</body>
</html>